<!DOCTYPE html>
<html>
	<head>
		<title>{{{_sections.title}}}</title>
		<link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
		<link href="/assests/bootstrap-3.3.7-dist/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		{{{_sections.css}}}
	</head>
	<body>
		{{> navbar }}
		<div class="container-fluid">
				{{{body}}}
		</div>
		
		<script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		{{{_sections.js}}}
		<script src="/assests/js/nav.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>