

body{
	padding-top: 60px;
	background-color: whitesmoke ;
}

.panel{
	padding-top : 1px;
	padding-bottom: 1px;
	border-width:1px;
}
.row{
	padding-top : 1px;
	padding-bottom: 1px;
}
.thumbnail{
	padding-top : 1px;
	padding-bottom: 1px;
}

.panel-body{
	background-color: whitesmoke;
}

.imgresponsive{
	height: 200px;
}