{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assests/css/home.css">
{{/section}}


{{#section 'title'}}
    Trang chủ
{{/section}}

<div class="row">
	<div class="col-md-1"></div>
	<div class="panel panel-default col-md-10">
		<div class="panel-heading">
			<h4>Top 5 HOT</h4>
		</div>
		<div class="panel-body">
			<div id="products">
				<div class="col-md-2">
				    <div class="thumbnail ">
				        <a href="product-bid-details.html#">
				            <img src="Images/sanpham/2/1.jpg" alt="..." class="img-responsive">
				        </a>
				        <div class="productprice">
				            <div class="producttitle">Tên sản phẩm</div>
				            <div class="guestnumber">Khách: 1</div>
				            <div class="priceofguest">tên khách: giá đấu</div>
				            <div class="timer">
				                <table align="center">
				                    <tbody>
				                        <tr>
				                            <td><img src="imgs/icons/timer.png"></td>
				                            <td>00:00:00</td>
				                        </tr>
				                    </tbody>
				                </table>
				            </div>
				            <div class="pull-right">
				                <a href="#" class="btn btn-danger btn-sm" role="button">Đặt giá</a>
				            </div>
				            <div class="pricetext">30.000đ</div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>	
	<div class="col-md-1"></div>

</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="panel panel-default col-md-10">
		<div class="panel-heading">
			<h4>Top 5 giá cao nhất</h4>
		</div>
		<div class="panel-body">
			<div id="products">
				<div class="col-md-2">
				    <div class="thumbnail ">
				        <a href="product-bid-details.html#">
				            <img src="Images/sanpham/2/1.jpg" alt="..." class="img-responsive">
				        </a>
				        <div class="productprice">
				            <div class="producttitle">Tên sản phẩm</div>
				            <div class="guestnumber">Khách: 1</div>
				            <div class="priceofguest">tên khách: giá đấu</div>
				            <div class="timer">
				                <table align="center">
				                    <tbody>
				                        <tr>
				                            <td><img src="imgs/icons/timer.png"></td>
				                            <td>00:00:00</td>
				                        </tr>
				                    </tbody>
				                </table>
				            </div>
				            <div class="pull-right">
				                <a href="#" class="btn btn-danger btn-sm" role="button">Đặt giá</a>
				            </div>
				            <div class="pricetext">30.000đ</div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>	
	<div class="col-md-1"></div>

</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="panel panel-default col-md-10">
		<div class="panel-heading">
			<h4>Top 5 sắp kết thúc</h4>
		</div>
		<div class="panel-body">
			<div id="products">
				<div class="col-md-2">
				    <div class="thumbnail">
				        <a href="product-bid-details.html#">
				            <img src="Images/sanpham/2/1.jpg" alt="..." class="img-responsive">
				        </a>
				        <div class="productprice">
				            <div class="producttitle">Tên sản phẩm</div>
				            <div class="guestnumber">Khách: 1</div>
				            <div class="priceofguest">tên khách: giá đấu</div>
				            <div class="timer">
				                <table align="center">
				                    <tbody>
				                        <tr>
				                            <td><img src="imgs/icons/timer.png"></td>
				                            <td>00:00:00</td>
				                        </tr>
				                    </tbody>
				                </table>
				            </div>
				            <div class="pull-right">
				                <a href="#" class="btn btn-danger btn-sm" role="button">Đặt giá</a>
				            </div>
				            <div class="pricetext">30.000đ</div>
				        </div>
				    </div>
				</div>
			</div>
		</div>
	</div>	
	<div class="col-md-1"></div>

</div>
{{#section 'js'}}

	<script src="/assests/js/home.js" type="text/javascript" charset="utf-8"></script>

{{/section}}

          
    


