{{#section 'css'}} <link rel="stylesheet" type="text/css" href="/assests/css/home.css">{{/section}}
 {{#section 'title'}} Đăng nhập {{/section}}


<div class="row">

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

       <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Đăng ký</h4>
            </div>
            <div class="modal-body">
                <form id="registerForm" method="POST" action="login/register">
                    <div class="form-group">
                        <label for="tenuser" class="control-label">Tên đăng nhập:</label>
                        <input type="text" class="form-control" id="tenuser" name="tenuser" autofocus required = "true">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Mật khẩu:</label>
                        <input type="password" class="form-control" id="password" name="password" required = "true">
                    </div>
                    <div class="form-group">
                        <label for="repassword" class="control-label">Nhập lại mật khẩu:</label>
                        <input type="password" class="form-control" id="repassword" name="repassword" required = "true">
                    </div>
                    <div class="form-group">
                        <label for="hoten" class="control-label">Họ và tên:</label>
                        <input type="text" class="form-control" id="hoten" name="hoten" required = "true">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required = "true">
                    </div>

                    <div class="g-recaptcha" data-sitekey="6LcyKScUAAAAAPxtOXoyTy7lqEXvgCEvaw6YnyOJ"></div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                </form>
            </div>

        </div>
    </div>


    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

    </div>

</div>

<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<script src="/assests/js/nav.js" type="text/javascript" charset="utf-8"></script>
	