<div class="footer">
    <div class="footer_legal">
        <div class="container">
            <div class="policies">
                <div class="policy-item">
                    <a class="policy-link" href="#">
                        <div class="policy-icon item_icon_tos"></div><span>Quy chế hoạt động</span>
                    </a>
                </div>
                <div class="policy-item">
                    <a class="policy-link" href="#">
                        <div class="policy-icon item_icon_privacy"></div><span>Chính sách bảo mật</span>
                    </a>
                </div>
                <div class="policy-item">
                    <a class="policy-link" href="#">
                        <div class="policy-icon item_icon_shipping"></div><span>Chính sách vận chuyển</span>
                    </a>
                </div>
                <div class="policy-item">
                    <a class="policy-link" href="#">
                        <div class="policy-icon item_icon_violation"></div><span>Chính sách khiếu nại</span>
                    </a>
                </div>
            </div>
            <div class="company">Công ty TNHH TinTin</div>
            <div class="detail">Địa chỉ: Tầng 11, số 227, phố Nguyễn Văn Cừ, quận 5, TP.HCM. Tổng đài hỗ trợ: 18001000 - Email: suport@tintin.vn</div>
            <div class="detail">Giấy chứng nhận Đăng ký Kinh doanh số 0304050607 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 30/06/2017</div>
            <div class="detail">© 2017 - Bản quyền thuộc về Công ty TNHH TinTin</div>
        </div>
    </div>
</div>