<nav class="navbar navbar-inverse navbar-fixed-top ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        {{> search }}

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                        <li><a href="/search?type=0">Tất cả</a></li>
                        <li><a href="/search?type=1">Công nghệ</a></li>
                        <li><a href="/search?type=2">Thời trang</a></li>
                        <li><a href="/search?type=3">Gia dụng</a></li>
                        <li><a href="/search?type=4">Khác</a></li>
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if layoutModels.isSeller}}
                <li>
                    <a href="/seller">Quản lý sản phẩm</a>
                </li>
                {{/if}}
                

             {{#if layoutModels.isLogged }}
             
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ layoutModels.curUser.tenuser}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../login/profile">Thông tin cá nhân</a></li>
                        <li><a href="../login/dangdaugia">Danh sách đang đấu giá</a></li>
                        <li><a href="../login/yeuthich">Yêu thích</a></li>
                        <li><a href="../login/dathang">Danh sách đã thắng</a></li>
                    </ul>
                </li>
                <li><a id="logoutLink" href="javascript:;">Đăng xuất</a></li>
             
             {{else}}
            
                <li><a href="" data-target="#loginModal" data-toggle="modal">Đăng nhập</a></li>
                <li><a href="" data-target="#regModal" data-toggle="modal">Đăng ký</a></li>
            
            {{/if}}
            </ul>
            
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->


</nav>

                <form id="frmLogout" method="POST" action="/login/logout"></form>
<!--login Modal-->
<div class="modal fade" tabindex="1" role="dialog" id="loginModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Đăng nhập</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="login/signin">
                    <div class="form-group">
                        <label for="username" class="control-label">Tên đăng nhập:</label>
                        <input type="text" class="form-control" id="username" name="tenuser" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Mật khẩu:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <div class="form-group">
                        <a href="">Quên mật khẩu ?</a>
                    </div>
                    <div class="form-group">
                        <a href="" data-target="#regModal" data-toggle="modal">Đăng ký tài khoản mới.</a>
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!--register Modal-->
<div class="modal fade" tabindex="-1" role="dialog" id="regModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Đăng ký</h4>
            </div>
            <div class="modal-body">
                <form id="registerForm" method="POST" action="login/register">
                    <div class="form-group">
                        <label for="tenuser" class="control-label">Tên đăng nhập:</label>
                        <input type="text" class="form-control" id="tenuser" name="tenuser" autofocus required = "true">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Mật khẩu:</label>
                        <input type="password" class="form-control" id="password" name="password" required = "true">
                    </div>
                    <div class="form-group">
                        <label for="repassword" class="control-label">Nhập lại mật khẩu:</label>
                        <input type="password" class="form-control" id="repassword" name="repassword" required = "true">
                    </div>
                    <div class="form-group">
                        <label for="hoten" class="control-label">Họ và tên:</label>
                        <input type="text" class="form-control" id="hoten" name="hoten" required = "true">
                    </div>
                    <div class="form-group">
                        <label for="email" class="control-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required = "true">
                    </div>

                    <div class="g-recaptcha" data-sitekey="6LcyKScUAAAAAPxtOXoyTy7lqEXvgCEvaw6YnyOJ"></div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Đăng ký</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    </div>
                </form>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<script src='https://www.google.com/recaptcha/api.js' async defer></script>
<script src="/assests/js/nav.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
        $('#logoutLink').on('click', function () {
            $('#frmLogout').submit();
        });
    </script>
<!--support messenger-->

<!--script-->