<div class="navbar-form navbar-left searchForm" action="../search" id="searchForm">
    <div class="form-group">
        <input id="SearchName" type="text" class="form-control" placeholder="Tìm kiếm sản phẩm..." name="name" autofocus>
    </div>
    <button id="searchBtn" type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>

</div>

<script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
<script src="/assests/js/search.js" type="text/javascript" charset="utf-8"></script>