{{#section 'css'}}
<link rel="stylesheet" type="text/css" href="/assests/css/biddetails.css">
<link rel="stylesheet" type="text/css" href="/assests/css/home.css">
<link rel="stylesheet" type="text/css" href="/assests/css/product.css">

{{/section}}

{{#section 'title'}}
    Thông tin cá nhân
{{/section}}


<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
    <div>
        <table class="table table-responsive">
        <caption>Đánh giá thành viên {{tenuser}}</caption>
            <thead>
                <tr>
                    <th>Người nhận xét</th>
                    <th>Comment</th>
                    <th>Điểm</th>
                </tr>
            </thead>
            <tbody>
            {{#each thongtinnhanxet}}
                <tr>
                    <td>{{tennguoinhanxet}}</td>
                    <td>{{noidung}}</td>
                    <td>{{loai}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
	
	<div class="col-md-1"></div>


    



</div>
{{#section 'js'}}
    
	<script src="/assests/js/home.js" type="text/javascript" charset="utf-8"></script>
    

{{/section}}

          
    


